In [1]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  
from apyori import apriori

In [2]:
transaksi_jilbab = pd.read_csv('transaksi_jilbab.csv', header = None)
num_records = len(transaksi_jilbab)
print(num_records)
transaksi_jilbab.head()

11

           0      1      2     3       4      5       6
0  Transaksi  Merah  Putih  Biru  Orange  Hijau  Kuning
1          1      1      1     1       0      1       1
2          2      0      1     0       1      0       1
3          3      0      1     1       0      0       1
4          4      1      0     0       1      0       0

In [3]:
records = []  
for i in range(0, num_records):  
    records.append([str(transaksi_jilbab.values[i,j]) for j in range(1, 7)])

In [4]:
association_rules = apriori(records, min_support=0.0053, min_confidence=0.20, min_lift=3, min_length=2)
association_results = list(association_rules)

In [5]:
print(len(association_results))

57

In [6]:
print(association_results[0])

RelationRecord(items=frozenset({'Hijau', 'Biru'}), support=0.09090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Biru'}), items_add=frozenset({'Hijau'}), confidence=1.0, lift=11.0), OrderedStatistic(items_base=frozenset({'Hijau'}), items_add=frozenset({'Biru'}), confidence=1.0, lift=11.0)])

In [7]:
results = []
for item in association_results:
    
    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    
    value0 = str(items[0])
    value1 = str(items[1])

    #second index of the inner list
    value2 = str(item[1])[:7]

    #third index of the list located at 0th
    #of the third index of the inner list

    value3 = str(item[2][0][2])[:7]
    value4 = str(item[2][0][3])[:7]
    
    rows = (value0, value1,value2,value3,value4)
    results.append(rows)
    
labels = ['Title 1','Title 2','Support','Confidence','Lift']
movie_suggestion = pd.DataFrame.from_records(results, columns = labels)

print(movie_suggestion)

   Title 1 Title 2  Support Confidence  Lift
0    Hijau    Biru  0.09090        1.0  11.0
1   Kuning    Biru  0.09090        1.0  11.0
2    Merah    Biru  0.09090        1.0  11.0
3   Orange    Biru  0.09090        1.0  11.0
4    Putih    Biru  0.09090        1.0  11.0
5    Hijau  Kuning  0.09090        1.0  11.0
6    Hijau   Merah  0.09090        1.0  11.0
7    Hijau  Orange  0.09090        1.0  11.0
8    Hijau   Putih  0.09090        1.0  11.0
9    Merah  Kuning  0.09090        1.0  11.0
10  Kuning  Orange  0.09090        1.0  11.0
11  Kuning   Putih  0.09090        1.0  11.0
12   Merah  Orange  0.09090        1.0  11.0
13   Merah   Putih  0.09090        1.0  11.0
14  Orange   Putih  0.09090        1.0  11.0
15   Hijau  Kuning  0.09090        1.0  11.0
16   Hijau   Merah  0.09090        1.0  11.0
17   Hijau  Orange  0.09090        1.0  11.0
18   Hijau   Putih  0.09090        1.0  11.0
19   Merah  Kuning  0.09090        1.0  11.0
20  Kuning  Orange  0.09090        1.0  11.0
21  Kuning   Putih  0.09090        1.0  11.0
22   Merah  Orange  0.09090        1.0  11.0
23   Merah   Putih  0.09090        1.0  11.0
24  Orange   Putih  0.09090        1.0  11.0
25   Hijau   Merah  0.09090        1.0  11.0
26   Hijau  Kuning  0.09090        1.0  11.0
27   Hijau  Kuning  0.09090        1.0  11.0
28   Hijau   Merah  0.09090        1.0  11.0
29   Hijau   Merah  0.09090        1.0  11.0
30   Hijau  Orange  0.09090        1.0  11.0
31   Merah  Kuning  0.09090        1.0  11.0
32   Merah  Kuning  0.09090        1.0  11.0
33  Kuning  Orange  0.09090        1.0  11.0
34   Merah  Orange  0.09090        1.0  11.0
35   Hijau   Merah  0.09090        1.0  11.0
36   Hijau  Kuning  0.09090        1.0  11.0
37   Hijau  Kuning  0.09090        1.0  11.0
38   Hijau   Merah  0.09090        1.0  11.0
39   Hijau   Merah  0.09090        1.0  11.0
40   Hijau  Orange  0.09090        1.0  11.0
41   Merah  Kuning  0.09090        1.0  11.0
42   Merah  Kuning  0.09090        1.0  11.0
43  Kuning  Orange  0.09090        1.0  11.0
44   Merah  Orange  0.09090        1.0  11.0
45   Hijau   Merah  0.09090        1.0  11.0
46   Hijau   Merah  0.09090        1.0  11.0
47   Hijau  Kuning  0.09090        1.0  11.0
48   Hijau   Merah  0.09090        1.0  11.0
49   Merah  Kuning  0.09090        1.0  11.0
50   Hijau    Biru  0.09090        1.0  11.0
51   Hijau    Biru  0.09090        1.0  11.0
52   Hijau    Biru  0.09090        1.0  11.0
53   Hijau    Biru  0.09090        1.0  11.0
54    Biru   Merah  0.09090        1.0  11.0
55   Hijau   Merah  0.09090        1.0  11.0
56   Hijau    Biru  0.09090        1.0  11.0